@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

#wrapper-game {
	border: 5px solid #000;
	margin: 0 auto;
	height: 510px;
	width: 260px;
}
#controls {
	float: left;
}
#game {
	background: url('../images/bg.png') repeat #3C3C3C;
	height: 500px;
	width: 250px;
}
#start {
	margin: 5px auto;
}
.score {
	font-weight: bold;
}
.score span {
	font-weight: normal;
}