doctype html
html(lang="pt-br")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Tetris
		link(href="assets/css/global.css" rel="stylesheet")
	body
		.container
			.page-header
				h1 Tetris
			.content
				.controls
					h2 Controls
					br
					li #[strong Up]: Rotate block
					li #[strong Left/Right]: Move block
					li #[strong Down]: Drop block
					li #[strong P]: Pause game
				.wrapper-game
					canvas#game(width=250 height=500)
					p.score Score:
						span 0
		script(src="assets/js/game.js" type="text/javascript")