doctype html
html(lang="pt-br")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Tetris
		link(href="assets/css/global.css" rel="stylesheet")
	body
		.container
			.page-header
				h1 Tetris
			#controls
				h2 Controls
				li Arrow keys = Move blocks
				li P = Pause game
				li M = Toggle music
				li -/+ = Music Volume
			#wrapper-game
				canvas#game(width=250 height=500)
				p.score Score:
					span 0
				audio#audio(loop)
					source(src="assets/audio/Tetris.mp3" type="audio/mpeg")
					source(src="assets/audio/Tetris.ogg" type="audio/ogg")
		script(src="assets/js-min/game.js" type="text/javascript")